@import "../../styles/colors.scss";

.lateral-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 24rem;
    background-color: $grey-menu;
    z-index: 100;
    overflow: hidden;
}

.menu-title {
    font-size: 2rem;
    margin: 2.5rem 0;
}

.menu-modules {
    display: flex;
    flex-direction: column;
    width: 85%;
}

.module {
    display: flex;
    align-items: center;
    width: 100%;
    height: 4.5rem;
    background-color: $white-soft;
    margin-bottom: 1.5rem;
    border-radius: .8rem;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: 'Rubik','Product Sans','Lexend Deca', 'Work Sans', sans-serif;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.module:hover {
    transform: scale(1.03);
}

.module > span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: #f0f0f7;
    border-radius: .6rem;
    margin: 0 .9rem 0 .8rem;
    overflow: hidden;
}

.module > span > i {
    font-size: 1.5rem;
    color: $primary;
}

.module-future {
    color: $grey-placeholder;
    opacity: .8;
}

.module-future > span > i {
    color: $grey-placeholder;
}

.module-future:hover {
    transform: scale(1);
}