$white: rgba(255, 255, 255, 255);
$grey: #f7f7fc;
$grey2: #f6f5f8;
$grey-secondary: #b1b0b0;
$grey-placeholder: #d3d3d3;
$black: rgba(7,7,7,255);
$black2: rgba(21,21,21,255);
$primary: #686aee;
$primary-effect: #8385fd;
$error: #e24444;