$white: rgba(255, 255, 255, 255);
$grey: rgba(250,250,254,255);
$grey2: rgba(246,245,248,255);
$grey-secondary: #b1b0b0;
$grey-placeholder: #d3d3d3;
$black: rgba(7,7,7,255);
$primary: #686aee;
$primary-effect: #8385fd;
$error: #e24444;